<h1>Stupid Coaching</h1>

<div class="you">
  <h3><%= params[:question] %></h3>
  <h3><em>-You</em></h3>
</div>

<div class="coach">
  <h3><%= @reply %></h3>
  <h3><em>-Your coach</em></h3>
</div>

<%= link_to "Ask another question", "/ask" %>

